html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
div[contenteditable=true]:empty:before{
    color: #757575;
    content: attr(data-placeholder);
    pointer-events: none;
}
*{
    box-sizing: border-box;
}
body{
    background-color: rgb(241, 241, 63);
    display: flex;
    justify-content: center;
    align-items: center;
}
#boxes{
    height: 90%;
    width: 90%;
    display: flex;
    background-color: rgb(72, 72, 245);
    padding: 10px;
}
#boxes>*{
    height: 100%;
    width: 40%;
    background-color: white;
}
#buttons{
    width: 20%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
#buttons>*{
    width: 100%;
    height: 50%;
    border: black 10px solid;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
#buttons>*:hover{
    filter: brightness(1.3);
}
#buttons>*:active{
    filter: brightness(0.8);
}
#buttons>*>span{
    display: block;
    font-size: 10vw;
    color: white;
    user-select: none;
}
#txtarea{
    display: block;
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 100%;
}
#txtarea,#htmldiv{
    font-family: sans-serif;
    line-height: normal;
    overflow-y: scroll;
    overflow-y: scroll;
}